.app__countdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app__countdown-title {
  height: 160px;
  margin-top: 20px;
}

.app__countdown-title h2 {
  font-family: var(--font-base);
  height: 100%;
  width: 80%;
  margin: 0 auto;
  color: var(--color-golden);
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  animation: flow-top 2s ease-out;

}

.app__countdown-content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;  
  opacity: 0.8;
  animation: fade-in 5s ease-out; 
  gap: 30px;
}

.app__countdown-content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: calc(100% / 5);
}

.app__countdown-content_box::after {
  content: ":";
  position: absolute;
  display: none;
  top: 20px;
  right: -15%;
  font-size: 35px; 
}

.app__countdown-content_box .value {
  font-size: 60px;
  font-weight: 400;
  text-align: center; 
}

.app__countdown-content_box .label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;  
}

/*For-tablet-portrait-up */
@media screen and (min-width: 650px) {
  .app__countdown {
    height: 100vh;
    justify-content: center;
    gap: 60px;
  }

  .app__countdown-title {
    height: 100px;
    margin-top: 0;
  }

  .app__countdown-title h2 {
    width: 100%;
  }

  .app__countdown-content {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .app__countdown-content_box:not(:last-child)::after {
    display: block;
  }

}

/*for-desktop-up*/
@media screen and (min-width: 1150px) {
  .app__countdown {
    height: 100vh;
  }

  .app__countdown-content {
    width: 70%;
  }
}

/*for-big-desktop-up*/
@media screen and (min-width: 2000px) {
  .app__countdown-content {
    width: 50%;
  }

  .app__countdown h2 {
    font-size: 80px;
  }

  .app__countdown-content_box::after {
    right: -10%;
  }

  .app__countdown-content_box .value {
    font-size: 80px;
  }

  .app__countdown-content_box .label {
    font-size: 18px;
    ;
  }
}

@keyframes flow-top {
  0% {
    font-size: 30px;
  }

  100% {
    font-size: 60px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;     
  }
  0% {
    opacity: 0;     
  }
  50% {
    opacity: 0;       
  } 
  75% {
    opacity: 0.3;       
  } 
  100% {
    opacity: 0.8;      
  }
 
}