.app__footer {
    width: 100%;
    position: relative;
    z-index: 1;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background: var(--color-black);
    padding-top: 0;   
}

.app__footer-links {
    width: 90%;
    margin-top: 5rem;
    z-index: 999;
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work {
    flex: 1;
    margin: 3rem;
    text-align: center;
}

.app__footer-links_contact p,
.app__footer-links_work p {
    color: var(--color-gray);
    font-weight: 500;
}

.app__footer-links_logo img:first-child {
    width: 180px;
    margin-bottom: 0.75rem;
}

.app__footer-links_logo p {
    font-weight: 100;
}

.app__footer-links_work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
}

.app__footer-links_icons {
    margin-top: 0.5rem;
}

.app__footer-links_icons svg {
    color: var(--color-white);
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}

.app__footer-links_icons svg:hover {
    color: var(--color-golden);
}

.app__footer-headtext {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 41.6px;
    margin-bottom: 1rem;
}

.footer__copyright {
    margin-top: 3rem;
    z-index: 999;
}

.footer__copyright p {
    margin-top: 3rem;
    color: var(--color-gray);
    font-weight: 500;
}


/*For-tablet-portrait-up */
@media screen and (min-width: 650px) {
    .app__footer-links_logo img:first-child {
        width: 210px;
    }
}

/*for-desktop-up*/
@media screen and (min-width: 1150px) {
    .app__footer-links {
        display: flex;

    }
    .app__footer-links_logo img:first-child {
        width: 250px;
        margin-top: -25px;
        margin-bottom: 3rem;
    }
}

/*for-big-desktop-up*/
@media screen and (min-width: 2000px) {
    .app__footer-headtext {
        font-size: 40px;
        line-height: 61.6px;
    }

    .app__footer-links_logo img:first-child {
        width: 360px;
    }
}